@import url('https://fonts.googleapis.com/css?family=Montserrat:400,500,600,700');

$white: #ffffff;
$black: #17191E;

$dark-orange: #CE3D1D;
$hover-orange: #FF927A;
$orange: #FF6543;
$light-orange: #FFF8F4;
$dark-gray: #7F848F;
$light-gray: #BDC0C9;
$gray: #969696;
$very-light-gray: #F5F5F5;



$font-family: 'Montserrat', sans-serif;

$font-size: 16px;

$font-weight-regular: 400;
$font-weight-medium: 500;
$font-weight-semibold: 600;
$font-weight-bold: 700;
